<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}{% if page.title %} :: {{ page.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ site.url }}/images/favicons/apple-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/images/favicons/apple-icon-144x144.png">
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/images/favicons/favicon.png" />
    
</head>
